<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978412153928-0duqe4285ct8sd575aadmdggk4kgb6fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978412153928-0duqe4285ct8sd575aadmdggk4kgb6fe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978412153928-u9od4rt062nr5jj1q7tpb422vk7vi7e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ6c88ivVwXWPYR7ue3Ot9Twp5WfKL9cU</string>
	<key>GCM_SENDER_ID</key>
	<string>978412153928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jegan.aiva</string>
	<key>PROJECT_ID</key>
	<string>aiva-e74f3</string>
	<key>STORAGE_BUCKET</key>
	<string>aiva-e74f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978412153928:ios:8462192bc366fe28f07c7d</string>
</dict>
</plist>